<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../lib/mui/css/mui.min.css">
  <link rel="stylesheet" href="../lib/mui/css/muie.css">
  <link rel="stylesheet" href="../lib/fontawesome/css/font-awesome.css">
  <link rel="stylesheet" href="../styles/register.css">
  <title>zxm-pyg</title>

</head>

<body class="eleToggle">
  <div class="layout">
    <header id="header" class="mui-bar mui-bar-nav">
      <h1 class="mui-title">注册</h1>
      <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    </header>
    <div class="pyg_content" style="padding-top:50px">
      <form class="mui-input-group formlist">
        <div class="mui-input-row">
          <label>手机号</label>
          <input type="text" name="mobile" class="mui-input-clear" placeholder="请输入手机号码" value="13123454321">
        </div>
        <div class="mui-input-row code_row">
          <label>验证码</label>
          <input type="text" name="code" placeholder="请输入验证码" value="" readonly>
          <button type="button" class="mui-btn mui-btn-primary" id="pyg_code">获取验证码</button>
        </div>
        <div class="mui-input-row">
          <label>邮箱</label>
          <input type="text" name="email" class="mui-input-clear" placeholder="请输入邮箱" value="zhangxuemeng@qq.com">
        </div>
        <div class="mui-input-row">
          <label>密码</label>
          <input type="password" name="pwd" class="mui-input-password" placeholder="请输入密码">
        </div>
        <div class="mui-input-row">
          <label>确认密码</label>
          <input type="password" name="pwd2" class="mui-input-password" placeholder="请再次输入密码">
        </div>
        <div class="mui-input-group">
          <div class="mui-input-row mui-radio">
            <label>女</label>
            <input name="gender" type="radio" value="女">
          </div>
          <div class="mui-input-row mui-radio">
            <label>男</label>
            <input name="gender" type="radio" checked="" value="男">
          </div>
        </div>
    
      </form>
          <div class="mui-button-row lastrow">
            <button type="button" class="mui-btn mui-btn-primary btn-register">注册</button>
            <a type="button" href='./login.html' class="mui-btn mui-btn-danger btn-login">登录</a>
          </div>
    </div>
    <div class="pyg_footer">
      <nav class="mui-bar mui-bar-tab">
        <a class="mui-tab-item" href="../index.html">
          <span class="mui-icon mui-icon-home"></span>
          <span class="mui-tab-label">首页</span>
        </a>
        <a class="mui-tab-item " href="./category.html">
          <span class="mui-icon mui-icon-list"></span>
          <span class="mui-tab-label">分类</span>
        </a>
        <a class="mui-tab-item" href="./carts.html">
          <span class="mui-icon-extra mui-icon-extra-cart"></span>
          <div class="mui-tab-label" style='font-size: 12px'>购物车</div>
        </a>
        <a class="mui-tab-item" href="#tabbar-with-map">
          <span class="mui-icon mui-icon-contact"></span>
          <span class="mui-tab-label">我的</span>
        </a>
      </nav>
    </div>
  </div>

  <script src="../lib/mui/js/mui.min.js"></script>
  <script src="../lib/zepto/zepto.js"></script>
  <script src="../js/common.js"></script>
  <script src="../js/register.js"></script>
</body>

</html>