.layout {
  //1vw等于视口宽度（viewport width）的百分之一，也就是说100vw就是视口的宽度。1vh等于视口高度（viewport height）的百分之一。
  width: 100vw;
  height: 100vh;
  max-width: 640px;
  margin: 0 auto;
  // background-color: pink;
  display: flex;
  flex-direction: column;
}

.pyg_header {
  height: 45px;
  padding: 5px;
  background-color: #eee;
}

.pyg_footer {
  height: 50px;

  .pyg_cart {
    font-size: 12px;
    display: block;
  }
}

.pyg_content {
  flex: 1;
  overflow: scroll;
}

.pyg_goodsList {
  padding: 10px;

  .pyg_pbox {
    width: 100%;
    padding-bottom: 5px;

    >img {
      width: 100%;
      display: block;
    }

    >.pyg_sbox {
      width: 49%;
      margin-top: 10px;
      float: left;
      background-color: #fff;
      // height:383.05px;
      >.pyg_good {
        width: 100%;

        >img {
          width: 100%;
          display: block;
        }

        >.pyg_desc {
          color: #333;
          font-size: 13px;
          margin: 5px 0;
          height:42px;
        }

        >.pyg_price {
          color: red;
        }
      }

      >.pyg_btncate {
        width: 80%;
        display: block;
        margin: 5px auto;
      }
    }

    >.pyg_sbox:nth-of-type(even) {
      margin-left: 2%;

    }
  }
}

.pyg_nav {
  padding: 10px;
  display: flex;
  background-color: #fff;

  >a {
    flex: 1;
    text-align: center;
    color: #333;
    font-size: 12px;

    >img {
      width: 50%;
      display: inline-block;
    }
  }
}